<h2>Sign up</h2>

<!--form_for(@user) allows Rails to infer that the action of the form should be to POST to the URL /users-->
<% form_for(@user) do |f| %>
  <!-- factored out common code to _fields.html.erb -->
  <%= render :partial => 'fields', :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>


